body{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-image:url(../images./pizza.jpg);
    background-size: cover;
  }
  .title{
    text-align: center;
    font-style:italic ;
    font-size: 90px;
    color:blue;
  }
  .text-wrapper1,p{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .menu{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
    color:blueviolet;
  
  }
  .card{
    font-family: 'Gayathri', sans-serif;
  }
  .one{
    background-color: transparent;
  }
  .two{
    background-color:transparent;
  }
  .three{
    background-color:transparent;
  
  }
  .topping{
    transition:transform .2s;
  }
  .text-wrapper2{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .zoom {
    transition:transform .2s;
  }
  .zoom:hover {
    transform: scale(1.1);
  }
  .background{
    background-color:transparent;
  }
  h2{
    font-size: 40px;
    font-style:italic;
    color: black;
  }
  .order{
    display: inline;
  }
  .modal-content{
    border-color: transparent;
    background-color: transparent;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
  }
  .checkout{
    margin-top: 140px;
  }
  .form-control{
    width:500px;
  }
  .receipt{
    text-align: center;
    font-size: 20px;
    font-style:italic;
  }
  .text-wrapper4{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  #receiptvalue{
    background-color: black;
    opacity: 0.7;
    border-radius: 4px;
  }
  .lables {
    margin-top: 20px;
  
  }
  /* MEDIA QUERIES */
  @media screen  and  (max-width:1000px)  {
    .text-wrapper{
      width:100%;
      background-size: cover;
      justify-content: center;
    }
    .text-wrapper img{
      width:100%;
      background-size: cover;
    }
    .title , .title1{
      width: 100%;
      text-align: center;
      font-size: 60px;
      margin-left: 5%;
    }
    .menu{
      width: 100%;
      margin: 20px;
    }
    .card{
      width:100%;
      justify-content: center;
      margin: 20px;
    }
    .card img{
      width: 100%;
      background-size: cover;
    }
    .topping{
      width:100%;
    }
    .form-control{
      width:80%;
      margin-left: 20px;
    }
  }
  .form-container{
    text-align: center;
    font-style: italic;
    color:greenyellow;
  }