body{
    padding:0%;
    margin: 0;
    background-image: url("/images/wp15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
  .title{
    text-align: center;
    font-style:italic ;
    font-size: 90px;
    color:blue;
    font-family: 'Courgette', cursive;
    font-family: 'Notable', sans-serif;
  }
  .text-wrapper1,p{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .menu{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
    color:blue;
  
  }
  .card{
    font-style: italic;
    font-size:60px;
    color:blue;
  }
  .text-wrapper2{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    color:blue;
  }
  .zoom {
    transition:transform .2s;
  }
  .zoom:hover {
    transform: scale(1.1);
  }
  .order{
    display: inline;
  }
  .modal-content{
    border-color: transparent;
    background-color: transparent;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
  }
  .checkout{
    margin-top: 140px;
  }
  .form-control{
    width:500px;
  }
  .receipt{
    text-align: center;
    font-size: 20px;
    font-style:italic;
    font
  }
  .text-wrapper4{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  #receiptvalue{
    background-color: black;
    opacity: 0.7;
    border-radius: 4px;
  }
  .lables {
    margin-top: 20px;
  
  }
  .form-container{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    color:white;
  }

  /* MEDIA QUERIES */
  @media screen  and  (max-width:1000px)  {
    .text-wrapper{
      width:100%;
      justify-content:center;
    }
    /*.text-wrapper img{
      width:100%;
      background-size: cover;
    }
    .p{
      width: 100%;
      text-align: center;
      font-size: 70px;
      margin-left: 5%;
      font-family: 'Courgette', cursive;
      font-family: 'Notable', sans-serif;
    }
    .menu{
      width: 100%;
      margin: 20px;
    }
    .card{
      width:100%;
      justify-content: center;
      margin: 20px;
    }
    .card img{
      width: 100%;
      background-size: cover;
    }
    .topping{
      width:100%;
    }
    .form-control{
      width:80%;
      margin-left: 20px;
    }
  }
  .form-container{
    text-align: center;
    font-style: italic;
    color:greenyellow;
  }